body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font-family: sans-serif;
}

.hero-image {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: url(/imagenes/ALfin.jpg) no-repeat center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: #f1f1f1;
    font: 700;
    text-transform: uppercase;
    width: 100%;
}

.container h1 {
    font-size: 72px;
    letter-spacing: 0.2rem;
}
